@import "tailwindcss";

:root {
  /* --french-blue: #374894; */
  /* --olive-wood: #826754; */
}

.dev-header {
  border-bottom: 1px solid black;
  display: flex;
  gap: 1rem;
}

.login-btn, .sign-up-btn {
  border: 1px solid black;
  color: black;
  padding: 0.375rem 0;
}

.login-btn:hover, .sign-up-btn:hover {
  background-color: black;
  color: white;
  cursor: pointer;
}

.avatar {
  height: 2rem;
  width: 2rem;
  background-color: black;
  border-radius: 100%;
}

.friend-li:hover {
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}